# Packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
import scipy.stats as stats
import statsmodels.api as sm

# Importing Data

In [8]:
raw_baseline = pd.read_csv("bethell_BASE.csv", low_memory=False)
raw_followup = pd.read_csv("bethell_FUP.csv", low_memory= False)

# Cleaning Data

In [37]:
important_columns_base = ["entity_id", "SEX_ASK_COM", "AGE_NMBR_COM", "DEP_CESD10_COM", "DEP_DPSFD_COM", "COG_REYI_SCORE_COM", "COG_REYII_SCORE_COM",
                    "COG_AFT_SCORE_1_COM", "COG_AFT_SCORE_2_COM", "COG_MAT_SCORE_COM", "FAS_A_SCORE_COM","FAS_F_SCORE_COM", "FAS_S_SCORE_COM",
                    "STP_COLTIME_SS_COM", "STP_DOTTIME_SS_COM", "STP_WORTIME_SS_COM"] 


depression = ["DEP_CESD10_COM", "DEP_DPSFD_COM"]
rey = ["COG_REYI_SCORE_COM", "COG_REYII_SCORE_COM"]
aft = ["COG_AFT_SCORE_1_COM","COG_AFT_SCORE_2_COM"]
mat = {"COG_MAT_SCORE_COM"}
fas = ["FAS_A_SCORE_COM","FAS_F_SCORE_COM", "FAS_S_SCORE_COM"]
stp = ["STP_COLTIME_SS_COM", "STP_DOTTIME_SS_COM", "STP_WORTIME_SS_COM"]
personality = ["PER_DSCR_EXT_MCQ", "PER_DSCR_CON_MCQ","PER_DSCR_EMOS_MCQ"]
social_support = ["SSA_DPTNG_COM","SSA_DPAFF_COM","SSA_DPSOC_COM", "SSA_DPEMO_COM", "SSA_DPALL_COM"]
social_part = ["SPA_PREVAC_HC_COM"]
vision_hearing = ["HRG_HRG_COM", "VIS_SGHT_COM"]

subset_base = raw_baseline[important_columns_base]

base_dict = {"entity_id": "ID",
            "SEX_ASK_COM": "Sex", 
            "AGE_NMBR_COM": "AGE", 
            "DEP_CESD10_COM": "CESD_10", 
            "DEP_DPSFD_COM": "DEP10",
            "COG_REYI_SCORE_COM": "REYI",
            "COG_REYII_SCORE_COM": "REYII",
            "COG_AFT_SCORE_1_COM": "AFT1",
            "COG_AFT_SCORE_2_COM": "AFT2",
            "COG_MAT_SCORE_COM": "MAT",
            "FAS_A_SCORE_COM": "FAS_A",
            "FAS_F_SCORE_COM": "FAS_F", 
            "FAS_S_SCORE_COM": "FAS_S",
            "STP_COLTIME_SS_COM": "STP_COLT", 
            "STP_DOTTIME_SS_COM": "STP_DOT", 
            "STP_WORTIME_SS_COM": "STP_WOR"}

newname_base = subset_base.rename(columns=base_dict)
newname_base

,ID,Sex,AGE,CESD_10,DEP10,REYI,REYII,AFT1,AFT2,MAT,FAS_A,FAS_F,FAS_S,STP_COLT,STP_DOT,STP_WOR
0,9168901,M,51,3.000000,0,7.0,5.0,25.0,27.0,39.0,11.0,10.0,15.0,14.0,10.0,13.0
1,5862419,M,51,13.000000,1,8.0,6.0,26.0,27.0,51.0,12.0,24.0,19.0,20.0,11.0,12.0
2,5622740,F,53,8.000000,0,6.0,3.0,23.0,26.0,33.0,9.0,19.0,14.0,22.0,12.0,17.0
3,2607635,M,82,2.000000,0,4.0,2.0,12.0,13.0,7.0,9.0,9.0,15.0,44.0,28.0,30.0
4,2331443,F,61,15.000000,1,6.0,3.0,17.0,18.0,12.0,11.0,13.0,10.0,19.0,11.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30092,4482683,F,51,11.000000,1,7.0,5.0,17.0,19.0,30.0,13.0,14.0,20.0,25.0,13.0,13.0
30093,9993651,F,50,0.000000,0,5.0,4.0,26.0,31.0,33.0,17.0,14.0,9.0,17.0,10.0,12.0
30094,6960314,F,73,0.000000,0,7.0,6.0,12.0,13.0,20.0,3.0,4.0,9.0,32.0,13.0,18.0
30095,3855235,F,49,5.000000,0,7.0,6.0,14.0,14.0,13.0,11.0,13.0,10.0,20.0,11.0,13.0
30096,7317039,M,78,6.666667,0,6.0,5.0,15.0,15.0,35.0,14.0,12.0,17.0,24.0,11.0,14.0

In [42]:
newname_base.describe()

,ID,AGE,CESD_10,DEP10,REYI,REYII,AFT1,AFT2,MAT,FAS_A,FAS_F,FAS_S,STP_COLT,STP_DOT,STP_WOR
count,3.009700e+04,30097.000000,30097.000000,30097.000000,29077.000000,29046.000000,29366.000000,29366.000000,28611.000000,29329.000000,29396.000000,29315.000000,29724.000000,29741.000000,29731.000000
mean,5.499097e+06,62.957504,5.565726,0.207463,5.851154,4.040143,19.671150,21.412824,26.535808,11.872345,13.263097,14.024868,25.866337,11.574224,15.583364
std,2.592981e+06,10.250583,8.278814,0.746171,1.906392,2.164847,5.695854,6.467655,8.750134,4.670207,4.943399,5.042045,32.653060,31.056130,26.154163
min,1.000087e+06,45.000000,-88.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-888.000000,-888.000000,-888.000000
25%,3.264264e+06,54.000000,2.000000,0.000000,5.000000,3.000000,16.000000,17.000000,21.000000,9.000000,10.000000,11.000000,20.000000,10.000000,13.000000
50%,5.499457e+06,62.000000,4.000000,0.000000,6.000000,4.000000,19.000000,21.000000,27.000000,12.000000,13.000000,14.000000,25.000000,12.000000,15.000000
75%,7.742441e+06,71.000000,7.000000,0.000000,7.000000,5.000000,23.000000,26.000000,32.000000,15.000000,17.000000,17.000000,31.000000,14.000000,18.000000
max,9.999983e+06,86.000000,99.000000,9.000000,14.000000,14.000000,47.000000,52.000000,51.000000,35.000000,35.000000,40.000000,609.000000,111.000000,149.000000

# Analysis Preparation

# Descriptive Statistics

# Inferential Statistics